@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

@font-face {
    font-family: cordel;
    src: url('fonts/EldesCordel-Demo.otf');
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    min-height: 100%;
    background-color: cadetblue;
}

header {
    background-color: black;
    color: white;
    max-width: 100%;
    min-height: 200px;
    text-align: center;
    font-size: 7vw;
}


header  p {
    padding-bottom: 50px;
    font-size: 0.2em;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Merienda', sans-serif;
}

a:hover {
    color: darkgray;
    font-style: bolder;
}

h1 {
    margin: 0px;
    padding-top: 50px;
    font-size: 1.3em;
    font-variant: small-caps;
    font-family: 'cordel', sans-serif;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 14px;
    padding-top: 50px;
    font-family: 'Merienda', sans-serif;
    font-size: 2.1vw;
}

section p {
    line-height: 2.7em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.normal {
    background-color: white;
}

.image {
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
}

.image>p {
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

#imagem1 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

#imagem2 {
    background-image: url('imagens/background002.jpg');
    background-position: left center;
    background-color: rgba(0, 0, 0, 0.863);
}

footer {
    background-color: black;
    color: white;
    padding: 4px;
    text-align: center;
    font-size: 1.5vw;
    font-family:  'Merienda', sans-serif;
}